        <div class="filterDisplayByRow">
            <div ng-init="expanded=false" ng-click="expanded=!expanded"
                style="position:relative;top:50%;transform: translateY(-50%);cursor: pointer;">
                <input id="" type="checkbox" ng-disabled="disabled"
                    class="graph-option-li ng-pristine ng-untouched ng-valid" ng-model="">
                <img width="18" src="images/global_icons/check-box-empty.png">
                <span>Late Tasks</span>
            </div>
        </div>