<ul
class="copyModal"
style="color: black;"
ng-click="$event.stopPropagation()"
ng-style="{'left': copyModalX, top:copyModalY}"
>
<div class="panel-body">
  <form role="form" name="leaderForm" ng-submit="copyToUser(template,chosenGroups,chosenUsers);close()">
    <div class="row" ng-init="chosenGroups = []">  
      <div ng-show="usersData && usersData.length > 0" class="col-lg-12 pull-left">
        <label style="margin-bottom: 0px">{{"COPY_DEFINITION_USERS" | translate}}</label>
        <div ng-init="chosenUsers = []">
          <select
            class="form-control"
            data-placeholder="{{'SELECT_SOME_OPTIONS' | translate}}"
            multiple
            chosen
            ng-model="chosenUsers"
            ng-options="option.id as (option | customTranslate: 'displayname':'displayhname':localLanguage) for option in usersData"
          ></select>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 20px">
      <div class="col-lg-12">
        <div class="pull-right">
          <button type="submit" class="btn btn-sm newPrimaryBtn pull-right m-t-n-xs">{{ "SEND" | translate}}</button>
        </div>
      </div>
    </div>
  </form>
</div>
</ul>