<div style = "overflow-y: auto;" ng-style="{'height': options.height}">
    <div class="tooltip">
        <div class="tooltip-event-name"></div>
        <div class="tooltip-event-duration"></div>
        <div class="tooltip-event-count"></div>
    </div>

        <!-- avoid using ng-if in case of loading this table to avoid re-rendering data in directives controller -->
    <div ng-if="shiftData.stopEvents && options.isTableView" class="{{options.printDiv}}" style="height: calc(100% - 7px);">
        <!-- <simple-table-directive ng-if="options.isTableView" raw-data-array="rawData" display-sub-groups="true"></simple-table-directive> -->
        <!-- <simple-table-directive ng-if="options.isTableView" machine-names="machinesArray" event-y="ySimpleTable" table-name="''" data="dataSimpleTable"></simple-table-directive> -->
        <!-- {{yResponsiveTable}} -->
        <responsive-table-directive ng-if="options.isTableView" columns="columns" event-y="yResponsiveTable" graph="graph"  options="options"  data="dataSimpleTable" totals-in-percentage=""></responsive-table-directive>
        
    </div>

    <div ng-if="shiftData.stopEvents && !options.isTableView">
        <div class="parameters-div">
             
            <div class="parameter" ng-init="showDropDown.scale =false" off-click-activator="showDropDown.scale" off-click="showDropDown.scale = false">
                <div class="parameter-label">{{"SCALE" | translate}}</div>
                <div class="parameter-dropdown">
                    <div class="parameter-selection" ng-click="showDropDown.scale = !showDropDown.scale">
                        <span>
                            {{(options.settings.scale ? "COMMON_SCALE"  : "INDIVIDUAL_SCALE") | translate}}
                        </span>
                        <span class="caret"></span>
                    </div>
                    <ul class="parameter-dropdown-list" ng-if="showDropDown.scale">
                        <li ng-click="GAupdate('distribution_common_scale');options.settings.scale=true;showDropDown.scale = false">{{"COMMON_SCALE" | translate}}</li>
                        <li ng-click="GAupdate('distribution_individual_scale');options.settings.scale=false;showDropDown.scale = false" >{{"INDIVIDUAL_SCALE" | translate}}</li>
                    </ul>
                </div>
            </div>
            <div class="parameter" ng-init="showDropDown.timeV =false" off-click-activator="showDropDown.timeV" off-click="showDropDown.timeV = false">
                <div class="parameter-label">{{"TYPE" | translate}}</div>
                <div class="parameter-dropdown">
                    <div class="parameter-selection" ng-click="showDropDown.timeV = !showDropDown.timeV">
                        <span>
                            {{(options.settings.timeV ? "TIME_VALUE"  : "NUMBER_OF_EVENT_VALUE") | translate}}
                        </span>
                        <span class="caret"></span>
                    </div>
                    <ul class="parameter-dropdown-list" ng-if="showDropDown.timeV">
                        <li ng-click="GAupdate('distribution_time_value');options.settings.timeV=true;showDropDown.timeV = false">{{"TIME_VALUE" | translate}}</li>
                        <li ng-click="GAupdate('distribution_number_of_event_value');options.settings.timeV=false;showDropDown.timeV = false" >{{"NUMBER_OF_EVENT_VALUE" | translate}}</li>
                    </ul>
                </div>
            </div>
          
            <span class="parameter">
                <span style="margin-left: 10px;">
                    <input id="division_{{$id}}" type="checkbox" class="graph-option-li" ng-model="options.settings.division">
                    <img ng-if="options.settings.division" src="images/dashboard/checkbox.svg" ng-click="options.settings.division = !options.settings.division; $event.stopPropagation();" />
                    <img ng-if="!options.settings.division" width="18" height="18" ng-click="options.settings.division = !options.settings.division; $event.stopPropagation();" />
                    <label for="division_{{$id}}" style="padding-left: 10px;font-size: 13px;">
                        {{"INTERNAL_DIVISION" | translate}}
                    </label>
                </span>
            </span>
        </div>
       
        <!-- <hr class="stop-events-header-separate">
        <span style="display:none;">{{barsHeight= options.height-120}}</span>
        <div class="{{options.printDiv}}" ng-style="{height: barsHeight}">
            <div class="multi-grid-wrapper">
            
                <div ng-repeat="i in keys" ng-if="options.settings.scale && !options.rotateH && (options.settings.group ? (options.settings.compare ? $index%7 == 0 : $index%12 == 0) : $index%3 == 0)"
                    class="distribution-bar-grid" ng-style="">
                    <span style="display:none;">{{changedHeight = getChangedHeight()}}</span>
                    <div class="distribution-grid-tick" ng-repeat="tick in ticks" ng-style="{'height': $first ? ((total - tick)/total*changedHeight): (tickW/total *changedHeight) +'px'}">
                        <span ng-if="$first" class="distribution-grid-tick-label">{{ options.settings.timeV ?
                            ("HOURS_SHORT" | translate) : ''}}</span>
                        <span class="distribution-grid-tick-text" ng-style="{top: $first ? (total - tick)/total*(changedHeight): ((tickW/total *changedHeight) -10) +'px'}">{{!options.settings.timeV
                            ? tick : (tick == 0? '0' : (tick | getDurationInHoursMinutesShort))}}</span>
                    </div>
                </div>
            </div>
            <div class="shift-distribution-container" ng-class="{'shift-distribution-container-rotate': options.rotateH}" 
                ng-style="{height: options.height-150,'position': 'relative',width:(options.settings.scale && options.settings.group) ? ((options.settings.compare ?  keys.length*(110) : keys.length*(50)) + 60 ): '100%','flex-direction': (options.rotateH ? 'column' : 'row'),'overflow-x': (options.rotateH ? 'hidden' : 'auto'),'overflow-y': (options.rotateH ? 'auto' : 'hidden'),'transform': ((options.settings.scale && options.settings.group) ? (rtl ? 'translate(-45px,1px)' : 'translate(40px,1px)') : 'translate(0px,1px)')}">
                <div ng-repeat="key in keys" class="inner-distribution-shift-container" ng-style="{display: options.rotateH ? 'block' : 'flex','flex-direction': (options.rotateH ? 'column' : 'row'),width:(options.settings.scale && options.settings.group) ? (options.settings.compare ?  '130px' : '50px') : '',height: barsHeight}">
                    <div ng-if="!$first" class="{{options.rotateH ? 'hr-line-dashed' : 'vr-line-dashed'}}"></div>
                    <shift-distribution-bar-directive height="barsHeight" 
                                                    scale="options.settings.scale" division="options.settings.division"
                                                    group="options.settings.group" time-v="options.settings.timeV" title-text="key" rotate="options.rotateH"
                                                    data="barsData[key]" compare="options.settings.compare" ng-style="{'width': (options.rotateH ? '100%' : ( (options.settings.scale && options.settings.group) ? (options.settings.compare ? '130px':'50px') : '')),'min-width': ( (options.settings.scale && options.settings.group) ? (options.settings.compare ? '120px':'50px') : '')}"></shift-distribution-bar-directive>
                </div>
            </div>
        </div>
        <div class="distribution-list" ng-if="options.header.length > 1">
            <img ng-if="!rtl" src="images/dashboard/rtl-arrow-blue.svg" alt="next" ng-click="options.settings.group = (options.settings.group + (options.header.length - 1))%(options.header.length)">
            <img ng-if="rtl" src="images/dashboard/ltr-arrow-blue.svg" ng-click="options.settings.group = (options.settings.group + (options.header.length + 1))%(options.header.length)"
                alt="previous">
            <div class="shift-list-dots-container">
                <span ng-repeat="li in options.header" ng-class="{selected: options.settings.group==$index}" class="shift-list-dot">&#9679;</span>
            </div>
            <img ng-if="!rtl" src="images/dashboard/ltr-arrow-blue.svg" ng-click="options.settings.group = (options.settings.group + (options.header.length + 1))%(options.header.length)"
                alt="previous">
            <img ng-if="rtl" src="images/dashboard/rtl-arrow-blue.svg" alt="next" ng-click="options.settings.group = (options.settings.group + (options.header.length - 1))%(options.header.length)">
        </div> -->
    </div>
    <!-- <div ng-if="!shiftData.stopEvents" ng-include="'views/common/emptyPage.html'">
    </div> -->

 
    <div id="container{{$id}}" ng-show="!options.isTableView"></div>
</div> 