<style></style>
<script>
  (function () {
    if(!document.getElementById("page-wrapper")) {
      document.getElementById("targets-management-react").style.paddingTop = "80px";
      document.getElementById("page-wrapper").style.backgroundColor = "white";
    } else {
    document.getElementById("targets-management-react").style.paddingTop = "40px";
    }
  })();
</script>
<div 
  id="targets-management-react"
  style="width: 100%; padding: 40px 24px; display: flex; flex-direction: column; background-color: white;"
>
  <react-targets></react-targets>
</div>
