<div class="panel panel-success" style="height : 100% !important; font-size:14px;border-radius: 0px;margin-bottom:0;">
    <table class="table table-bordered" style="height : 100% !important;">
        <tbody>
            <tr style="height:60% !important">
                <td style="padding-top: 0px;background-color: {{child.areas[0].fields[0].backgroundColor}}">

                    <param-directive content="child.areas[0].fields[0]"></param-directive>
                    <div ng-if="child.areas[0].fields[0].gaugeValue =='with gauge'" style="height:75px!important;margin-top: 50px;">
                        <!-- <just-gage id="areabox_{{getChildId()}}_0"

                               options="{
                    min:child.areas[0].fields[0].LowLimit ,
                    max: child.areas[0].fields[0].HighLimit,
                    levelGradiant: true,
                    value: child.areas[0].fields[0].CurrentValue,
                    gaugeColor : '#cfcfcf',
                    gaugeWidthScale : 1.6,
                    levelColors: ['#64abf4', '#64abf4', '#64abf4', '#64abf4'], }">
                    </just-gage> -->
                    <injection-values-directive
                    min="child.areas[0].fields[0].LowLimit"
                    max="child.areas[0].fields[0].HighLimit"
                    value="child.areas[0].fields[0].CurrentValue"></injection-values-directive>
                    </div>
                </td>
                <td style="padding-top: 0px;background-color: {{child.areas[1].fields[0].backgroundColor}}">
                    <param-directive content="child.areas[1].fields[0]"></param-directive>
                    <div ng-if="child.areas[1].fields[0].gaugeValue =='with gauge'" style="height:75px!important;margin-top: 50px;">
                        <!-- <just-gage id="areabox_{{getChildId()}}_1"

                               options="{
                    min:child.areas[1].fields[0].LowLimit ,
                    max: child.areas[1].fields[0].HighLimit,
                    levelGradiant: true,
                    value: child.areas[1].fields[0].CurrentValue,
                    gaugeColor : '#cfcfcf',
                    gaugeWidthScale : 1.6,
                    levelColors: ['#64abf4', '#64abf4', '#64abf4', '#64abf4'], }">
                    </just-gage> -->
                    <injection-values-directive
                        min="child.areas[1].fields[0].LowLimit"
                        max="child.areas[1].fields[0].HighLimit"
                        value="child.areas[1].fields[0].CurrentValue"></injection-values-directive>

                    </div>

                </td>
            </tr>

            <tr style="height: 20%!important">
                <td style="width:50%;padding-top: 0px;background-color: {{child.areas[2].fields[0].backgroundColor}}">
                    <param-directive content="child.areas[2].fields[0]"></param-directive>


                </td>
                <td style="width:50%;padding-top: 0px;background-color: {{child.areas[3].fields[0].backgroundColor}}">
                    <param-directive content="child.areas[3].fields[0]"></param-directive>

                </td>
            </tr>
            <tr style="height: 20%!important">
                <td style="width:50%;padding-top: 0px;background-color: {{child.areas[4].fields[0].backgroundColor}}">
                    <param-directive content="child.areas[4].fields[0]"></param-directive>

                </td>
                <td style="width:50%;padding-top: 0px;background-color: {{child.areas[5].fields[0].backgroundColor}}">
                    <param-directive content="child.areas[5].fields[0]"></param-directive>

                </td>
            </tr>
        </tbody>
    </table>
</div>