<div
  class="shift-container shift-container-insights"
  ng-if="!shiftData.dataLoading && !shiftData.error && !insightContainerLoading.value"
>
  <div id="toastr" style="top: 100px"></div>

  <div class="row" style="min-height: 570px">
    <div
      ng-if="!shiftData.customRangeEnabled || (shiftData.customRangeEnabled && allowedGraphsForCustomRange.indexOf(graph.template) > -1)"
      ng-repeat="graph in insightData[pageID].container | filter:{options : {display: true} }"
      dnd-draggable="graph"
      dnd-moved="filteredContainers.splice($index, 1)"
      dnd-move-image=".sortable-item"
    >
      <div
        ng-include="'views/custom/productionFloor/shiftTab/dashboardGraphs/'+graph.template+'.html'"
      ></div>
    </div>
  </div>
</div>
