<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" ng-if="content.showChannel == true">
        <div class="col-lg-6 pull-left">
            <div class="ibox float-e-margins iboxMachineBox">
                <div class="ibox-title">
                    <h5 class="pull-left">{{"CONFIGURE_GENERAL_CHANNELS" | translate}}</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="row" style="padding-top: 10px">
                            <div class="col-lg-6 pull-left">
                                <label class="font-noraml"> <strong>{{"CHOOSE_CHANNELS_TO_DISPLAY" | translate}} </strong></label>
                                <select chosen class="chosen-select" style="width:350px;" tabindex="4"
                                        ng-model="machineChannelShow"
                                        ng-change="channelShowChange(machineChannelShow)"
                                        data-placeholder="{{'SELECT_SOME_OPTIONS' | translate}}"
                                        ng-options="option.ChannelNum as (option | customTranslate: 'EName':'LName':localLanguage) for option in lowerGeneralSideMachineChannels"
                                        multiple>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-lg-6 pull-left">
                                <label class="font-noraml"> <strong>{{"CHANNEL" | translate}}</strong></label>
                                <select class="form-control"
                                        ng-model="machineChannelChosen"
                                        ng-change="channelChanged(machineChannelChosen)"
                                        ng-options="option as (option | customTranslate: 'EName':'LName':localLanguage) for option in lowerGeneralSideMachineChannels">
                                    <option value="">{{"SELECT_OPTION" | translate}}</option>
                                </select>
                            </div>
                            <div class="col-lg-6" ng-if="machineChannelChosen">
                                <label class="font-noraml"> <strong>{{"PARAM" | translate}}</strong></label>
                                <select chosen class="chosen-select" width="'100%'"
                                        ng-model="machineTypeChannelChosen.params"
                                        data-placeholder="{{'SELECT_SOME_OPTIONS' | translate}}"
                                        ng-options="option.FieldName as option.EName for option in lowerGeneralSideMachineParams"
                                        multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins iboxMachineBox">
                <div class="ibox-title">
                    <h5 class="pull-left">{{"CONFIGURE_MACHINE_TABS_ACTIONS" | translate}}</h5>

                    <div ibox-tools></div>
                </div>
                <div class="ibox-content">
                    <div class="form-group">
                        <div class="row" style="padding-top: 10px">
                            <div class="col-lg-6 pull-left">
                                <label class="font-noraml"> <strong>{{"CHOOSE_TABS_TO_DISPLAY" | translate}} </strong></label>
                                <select chosen class="chosen-select" style="width:350px;" tabindex="4"
                                        ng-model="machineTabsStructure"
                                        ng-change="tabShowChange(machineTabsStructure)"
                                        data-placeholder="{{'SELECT_SOME_OPTIONS' | translate}}"
                                        ng-options="option.EName as option.EName for option in machineTypeTabs"
                                        multiple>
                                </select>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 10px">
                            <div class="col-lg-6 pull-left">
                                <label class="font-noraml"> <strong>{{"CHOOSE_ACTIONS_TO_DISPLAY" | translate}} </strong></label>
                                <select chosen class="chosen-select" style="width:350px;" tabindex="4"
                                        ng-model="machineActionsStructure"
                                        ng-change="actionShowChange(machineActionsStructure)"
                                        data-placeholder="{{'SELECT_SOME_OPTIONS' | translate}}"
                                        ng-options="option.EName as option.EName for option in machineTypeActions"
                                        multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-show="currentMachine">
        <div class="ibox float-e-margins iboxMachineBox">

            <div class="ibox-content">
                <div class="container clones containerMachine"
                     style="font-size:13px !important;margin-left:0px;margin-right:0px;width: 1500px!important;z-index: 0 !important;">



                    <div class="pull-left sbig3 cbig4 " data-ss-colspan="3" style="width:150px;height:120px;z-index:0;">

                        <box-directive content="{boxId : 7,newBox : false}"></box-directive>

                    </div>
                    <div class="pull-left sbig4 cbig4 " data-ss-colspan="3" style="width:150px;height:120px;z-index:0">

                        <box-directive content="{boxId : 8,newBox : false}"></box-directive>

                    </div>

                    <div class="pull-left sminiSmall2 cminiSmall2 " data-ss-colspan="3"
                         style="height:40px;z-index:0!important;width: 150px !important">
                        <box-directive content="{boxId : 2,newBox : false}"></box-directive>
                    </div>
                    <div class="pull-left shuge chuge " data-ss-colspan="6" style="width: 300px;z-index: 0 !important;">
                        <box-directive content="{boxId : 9,newBox : false}"></box-directive>
                    </div>

</div>
                </div>
            </div>
        </div>

        <!--<div  >-->
        <div id="panel-body1" class="" style="width:100%">
            <div class="TheTable ibox float-e-margins iboxMachineBox">
                <div class="ibox-title" style="padding: 6px 6px 6px 6px">
                    <strong> [{{"MACHINE_NAME" | translate}}]</strong>
                    <a ng-click="addItem(currentMachine,true)">
                        <i class="fa fa-plus"></i>
                    </a>
                    <strong>{{getParamName(currentMachine.Title.dynamicValue)}}</strong>


                    {{dynamicValue}}
                    <div class=" ibox-tools">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-cog"></i>
                        </a>
                        <ul id="combo1" class="dropdown-menu dropdown-user" style="z-index: 1000">
                            <li ng-click="activeSize = '2x2'" ng-class="{active : activeSize == '2x2'}">
                                <a>2x2</a>
                            </li>
                            <li ng-click="activeSize = '4x2'" ng-class="{active : activeSize == '4x2'}">
                                <a>4x2</a>
                            </li>
                            <li ng-click="activeSize = '6x2'" ng-class="{active : activeSize == '6x2'}">
                                <a>6x2</a>
                            </li>
                            <li ng-click="activeSize = '8x2'" ng-class="{active : activeSize == '8x2'}">
                                <a>8x2</a>
                            </li>
                            <li ng-click="activeSize = '2x4'" ng-class="{active : activeSize == '2x4'}">
                                <a>2x4</a>
                            </li>
                            <li ng-click="activeSize = '4x4'" ng-class="{active : activeSize == '4x4'}">
                                <a>4x4</a>
                            </li>
                            <li ng-click="activeSize = '6x4'" ng-class="{active : activeSize == '6x4'}">
                                <a>6x4</a>
                            </li>
                            <li ng-click="activeSize = '8x4'" ng-class="{active : activeSize == '8x4'}">
                                <a>8x4</a>
                            </li>
                            <li ng-show="content.showChannel == true" ng-click="activeSize = '10x4'" ng-class="{active : activeSize == '10x4'}">
                                <a>10x4</a>
                            </li>
                            <li ng-show="content.showChannel == true" ng-click="activeSize = '12x4'" ng-class="{active : activeSize == '12x4'}">
                                <a>12x4</a>
                            </li>
                        </ul>
                    </div>

                </div>


                <div class=" ibox-content" style="margin-left: 0px;padding:6px 6px 6px 6px">
                    <!--<div style=" display: table-cell">-->
                    <!--<div class="light animated bounce" style="margin-left: 10px">-->
                    <!--<span class="active"></span>-->
                    <!--<span class=" active"></span>-->
                    <!--<span class="active"></span>-->
                    <!--</div>-->
                    <!--</div>-->
                    <div class="row">
                        <div style="display: table-cell ;{{localLanguage ? 'padding-right : 6px' : 'padding-left: 6px'}}">
                            <div class="light animated bounce" style="{{localLanguage ? 'margin-right: 10px' : 'margin-left: 10px'}}">
                                <span class="grey active"></span>
                                <span class="grey active"></span>
                                <span class="grey active"></span>
                            </div>
                        </div>
                        <div id="dropArea" class="dropArea" style="display: table-cell">
                            <div style="{{localLanguage ? 'padding-right: 16px': 'padding-left: 6px'}};margin-left: 0px">
                                <div class="container droparea  removeContent "
                                     style="padding-left: 0px;height:220px!important">
                                    <div id="{{$index}}" ng-if="showMachine === true"
                                         on-finish-render="ngRepeatFinished" ng-repeat="box in currentMachine.Children"
                                         class={{box.class}}
                                         data-ss-colspan="{{box.dataColSpan}}"
                                         ng-style="{height:box.height,width:box.width}">
                                        <box-directive
                                                content="{boxId : box.boxId , newBox : true,data : box,Machine : currentMachine,machineParams : machineParams}"></box-directive>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" style="margin-top:10px;">

                <button type="submit" ng-click="SaveStructure()" class="btn btn-sm btn-primary pull-right m-t-n-xs">{{
                    'SAVE' |
                    translate }}
                </button>

            </div>

            <div id="garbage-area"
                 class="animation_select trash pic ">

                <div id="animation_box"
                     class=" animation_boxSize animated glyphicon glyphicon-trash">
                </div>

            </div>


            <div id="build">

            </div>
        </div>
    </div>
</div>