<img ng-click="Close()" style="margin: 15px; cursor: pointer" src="images/close.png" width="24" height="24" class="pull-right" />
<div style="display: flex; align-items: center; margin: 35px">

  <video autoplay="autoplay" preload="auto"  ng-if="!isHeb" controls>
    <source src="https://s3-eu-west-1.amazonaws.com/release.leadermes.com/WebVideos/eng/custom_events.mp4" type="video/mp4" />
  </video>


  <video autoplay="autoplay" preload="auto" ng-if="isHeb" controls>
    <source src="https://s3-eu-west-1.amazonaws.com/release.leadermes.com/WebVideos/heb/custom_events.mp4" type="video/mp4" />
  </video>

</div>
