<div id="toastr" style="position:fixed;top:0"></div>
<div class="modal-dialog resetPassword">
    <div>
        <img class="alignnone size-full wp-image-6026" ng-src="{{resetPasswordCtrl.logoUrl}}" style="display: block; margin-left: auto; margin-right: auto;" width="270" height="42">
    </div>
    <div style="margin-top: 60px;" class="modal-content">
        <div class="modal-header" ng-class="{rtl : resetPasswordCtrl.rtl}">
            <button type="button" ng-click="resetPasswordCtrl.close();" class="close pull-right" data-dismiss="modal"><span
                    aria-hidden="true">×</span><span class="sr-only">Close</span></button>
            <h3 class="modal-title pull-left">{{"RESET_PASSWORD" | translate}}</h3>
        </div>
        <div class="modal-body" ng-class="{rtl : resetPasswordCtrl.rtl}">
            <div class="panel-body">
                <form role="form" name="leaderForm" ng-submit="resetPasswordCtrl.resetPassword()">
                    <div class="col-sm-12 ng-scope">
                        <div style="height: 100%;" class="form-group  col-lg-12 pull-left">
                            <label style="width: 100%;margin-bottom: 0px;" ng-class="{'requiredFiled' : true}">{{"PASSWORD" | translate}}</label>
                            <input name="name" style="width: 100%" type="password" class="form-control" ng-model="resetPasswordCtrl.password" ng-required="!resetPasswordCtrl.userId">
                        </div>
                        <div style="height: 100%;" class="form-group col-lg-12 pull-left">
                            <label style="width: 100%;margin-bottom: 0px;" ng-class="{'requiredFiled' : true}">{{"RETYPE_PASSWORD" | translate}}</label>
                            <input name="name" style="width: 100%;border-color : {{resetPasswordCtrl.submitted && resetPasswordCtrl.password !== resetPasswordCtrl.reTypePassword ? 'red !important;' : ''}}" 
                            type="password" class="form-control" required
                            ng-model="resetPasswordCtrl.reTypePassword">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button style="margin:0" type="submit"  class="btn btn-sm btn-primary pull-right m-t-n-xs">{{ "RESET" | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="underLoginButton" style="display: flex;justify-content: center;">{{"MATICS_BY_EMERALD" | translate}} &copy; {{copyRight}}</div>
</div>