<div class="newRuleTask" style="width: auto; margin-top: 10%; padding-top:2%; height:fit-content;border-radius: 8px;">
    <form>
        <div class="timePicker-header">
            <button class="timePeriodButton" ng-class="{'clickedButton' : groupToSend.trigger.RuleText==='Every day'}"
                ng-click="triggerToSend.trigger.IntervalType='daily'; groupToSend.trigger.RuleText='Every day'"
                ng-model="triggerToSend.trigger.IntervalType">
                {{"DAILY" | translate}}</button>
            <button class="timePeriodButton" ng-class="{'clickedButton' : groupToSend.trigger.RuleText==='Every week'}"
                ng-click="triggerToSend.trigger.IntervalType='weekly'; groupToSend.trigger.RuleText='Every week'"
                ng-model="triggerToSend.trigger.IntervalType">
                {{"WEEKLY" | translate}} </button>
            <button class="timePeriodButton"
                ng-class="{'clickedButton' :  groupToSend.trigger.RuleText==='Every month'}"
                ng-click="triggerToSend.trigger.IntervalType='monthly'; groupToSend.trigger.RuleText='Every month'"
                ng-model="triggerToSend.trigger.IntervalType">
                {{"MONTHLY" | translate}} </button>
        </div>

        <div class="timePicker-body">
            <div ng-if="groupToSend.trigger.RuleText==='Every day' || groupToSend.trigger.RuleText==='Every time period'"
                style="text-align: center; font-size: medium;" ng-model="timeToggle">
                {{"EVERY_DAY_AT" | translate}}
                <span dir="ltr">
                    <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalHour" min="0"
                        max="24" dir="ltr" placeholder="00">
                    :
                    <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalMinute" min="0"
                        dir="ltr" max="59" placeholder="00">
                </span>
            </div>

            <div ng-if="groupToSend.trigger.RuleText==='Every week'" style="text-align: center; font-size: medium;"
                ng-model="timeToggle">

                <div style="margin-bottom: 15px;">
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(1); rulesCtrl.switchDayToText(1);"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(1) >= 0}">{{"SUNDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(2); rulesCtrl.switchDayToText(2)"
                        ng-class="{'clickedButton' :  triggerToSend.trigger.DaysInWeek.indexOf(2) >= 0}">{{"MONDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(3); rulesCtrl.switchDayToText(3)"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(3) >= 0}">{{"TUESDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(4); rulesCtrl.switchDayToText(4)"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(4) >= 0}">{{"WEDNESDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(5); rulesCtrl.switchDayToText(5)"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(5) >= 0}">{{"THURSDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(6); rulesCtrl.switchDayToText(6)"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(6) >= 0}">{{"FRIDAY_SHORT" | translate}}</button>
                    <button class="day" ng-click="rulesCtrl.changeWeekDay(7); rulesCtrl.switchDayToText(7)"
                        ng-class="{'clickedButton' : triggerToSend.trigger.DaysInWeek.indexOf(7) >= 0}">{{"SATURDAY_SHORT" | translate}}</button>
                </div>

                {{"EVERY_WEEK_AT" | translate}}
                <span dir="ltr">
                    <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalHour" min="0"
                        max="24" dir="ltr" placeholder="00">
                    :
                    <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalMinute" min="0"
                        dir="ltr" max="59" placeholder="00">
                </span>
            </div>

            <div ng-if="groupToSend.trigger.RuleText==='Every month'" style="text-align: center;" ng-model="timeToggle">

                <div><button ng-repeat="w1 in week1" class="daysInMonth" ng-click="rulesCtrl.changeMonthDay(w1)"
                        ng-class="{'clickedButton': triggerToSend.trigger.DaysInMonth.indexOf(w1) >=0}">{{w1}}</button>
                </div>
                <div> <button ng-repeat="w2 in week2" class="daysInMonth" ng-click="rulesCtrl.changeMonthDay(w2)"
                        ng-class="{'clickedButton': triggerToSend.trigger.DaysInMonth.indexOf(w2) >=0}">{{w2}}</button>
                </div>
                <div> <button ng-repeat="w3 in week3" class="daysInMonth" ng-click="rulesCtrl.changeMonthDay(w3)"
                        ng-class="{'clickedButton': triggerToSend.trigger.DaysInMonth.indexOf(w3) >=0}">{{w3}}</button>
                </div>
                <div> <button ng-repeat="w4 in week4" class="daysInMonth" ng-click="rulesCtrl.changeMonthDay(w4)"
                        ng-class="{'clickedButton': triggerToSend.trigger.DaysInMonth.indexOf(w4) >=0}">{{w4}}</button>
                </div>
                <div> <button ng-repeat="w5 in week5" class="daysInMonth" ng-click="rulesCtrl.changeMonthDay(w5)"
                        ng-class="{'clickedButton': triggerToSend.trigger.DaysInMonth.indexOf(w5) >=0}">{{w5}}</button>
                </div>

                <div style="text-align: center; font-size: medium; padding-top:12px">
                    {{"EVERY_MONTH_AT" | translate}}
                    <span dir="ltr">
                        <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalHour" min="0"
                            max="24" dir="ltr" placeholder="00">
                        :
                        <input type='number' style="width: 50px" ng-model="triggerToSend.trigger.IntervalMinute" min="0"
                            dir="ltr" max="59" placeholder="00">
                    </span>
                </div>
            </div>
            <div class="timePicker-footer" style="text-align: right">
                <button class="pull-right btn btn-primary doneRulesBtn"
                    ng-click="$close()" ng-disabled="!rulesCtrl.checkSelectedDay()">{{"DONE" | translate}}</button>
            </div>
    </form>
</div>