<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 logo-section">
					<a href=""><img src="images/logo.png" class="img-responsive"></a>
					<ul class="list-inline text-right">
						<li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-12 knowledge-section">
					<a href="">Knowledge Base Home</a>
					<h3>DF 1.7 Release Notes </h3>
				</div>
				
			</div>
		</div>
	</header>
	
	<div class="body-section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>New Features</h3>

					<div class="traceability">
						<h5>Traceability</h5>
						<h4>A dedicated app helps achieve complete production traceability records </h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						<p>The new <b>Location Manager App</b> enables operations personnel to track, validate and register inventory per location. The app will validate that materials adhere to preset requirements and alert against rule violations. Together with the WEB application, the Location Manager App provides an out-of-box solution for manufacturers seeking to adhere to rigorous industry standards for maintaining online traceability records for product and batch genealogy.</p> 

						<p>Contact <a href="">support@emerald.co.il</a> for details and pricing. </p>
					</div>
					
					<div class="traceability">
						<h5>Setup Granularity </h5>
						<h4>System Administrators now control how working setup times affect machine availability  </h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						
						
						<div class="row">
							<div class="col-sm-11 col-xs-12">
								<p>We've added the option to log setup times as 2 different categories: working and non-working depending on machine activity. This feature is optional and can be activated independently for each machine. To date, your Live Production Floor indicates whether machines in setup are working or stopped, and all setup time is logged as downtime.</p> 
							</div>
							
							<div class="col-sm-1 col-xs-12">							
								<img src="images/setting.png" class="img-responsive setting-img">							
							</div>						

							<div class="col-sm-11 col-xs-12">
								<p>Activate this new feature to count working setup times toward production time and non-working setup times toward downtime. Activation of this option will result in adjustments to performance indicators, including Machine Availability, OEE and P.E. 
								<br><a href="">Learn more</a>.</p>
							</div>
							<div class="col-sm-1 col-xs-12">							
								<img src="images/setting-2.png" class="img-responsive setting-img">							
							</div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>Machine Idling  </h5>
						<h4>Easily distinguish between machine stops and planned idling in real time</h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						
						
						<div class="row">
							<div class="col-sm-11 col-xs-12">
								<p><a href="">Inactivity Calendars</a> now update stop reasons right from the outset as soon as a machine stop is detected. Use the calendars to plan idle times so that users on every platform are informed when a machine is idling rather than down. The machine Status Icon will show the dedicated icon for planned inactivity. Users of the Operator App and WEB application will see reasons automatically reported for any stops that fall within the scope of calendar events as soon as the stops begin.  </p> 
							</div>
							
							<div class="col-sm-1 col-xs-12">							
								<img src="images/watch.png" class="img-responsive setting-img">							
							</div>						

							
						</div>
					</div>
					
					<div class="traceability">
						<h5>Alerts </h5>
						<h4>Act faster with Calls-to-Action and SMS notifications </h4>
						<hr>

						<p>Configure in-app calls-to-action or SMS notifications to alert key company personnel of urgent matters that require immediate attention. System administrators have extensive control to fine-tune their system's notifications to their particular company needs. Here are some examples of notifications that can be created:</p> 

						<ul>
							<li>If a particular machine is stopped or in setup mode over x amount of time</li> 
							<li>When a mold changeover or job completion is upcoming</li> 
							<li>Deviations in cycle time and quality alerts</li>
						</ul>

						<p>Contact <a href="">support@emerald.co.il</a> for pricing. SMS package not included. </p>
					</div>
					
					<div class="traceability">
						<h5>Multi-Step Production </h5>
						<h4>A complete overview of a production journey in a single frame </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-9 col-xs-12">
								<p>The <a href="">Product Tree</a> provides an overview of the complete production process in a single frame so multi-step processes can be controlled and viewed with ease. Use the product tree as a quick navigation map or validate that your sync data was fully integrated.</p>

								<p>The product tree is a new tab in the Product Form which shows upstream pathways of sub-components and materials. When a final product is viewed, it will show the complete production process as a flow chart broken up into of inputs and outputs for every intermediary process. The tree is collapsible and can be resized and re-centered for convenience. <a href="">Learn more</a> </p> 
							</div>
							
							<div class="col-sm-3 col-xs-12">							
								<img src="images/graph.png" class="img-responsive setting-img">							
							</div>						
						</div>
					</div>
					
					<div class="traceability">
						<h5>Data Review </h5>
						<h4>Perform calculations on your selected data directly within the App  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<p>Run your calculations directly on the data without needing to export it. Filter, sort and select items to refine your dataset, and then perform your calculations to calculate sums and averages, count the items on the list or find the MIN/MAX values. The calculations will respond dynamically to changes in the dataset - whether you adjust filters or change your selections by checking off different items.</p> 				
					</div>
					
					<div class="traceability">
						<h5>User Manuals </h5>
						<h4>Integrated documentation helps users master the system more quickly </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-7 col-xs-12">
								<p>Look for the  buttons at the top-right corner to find step-by-step guides related to the page you are currently on. Articles in the Knowledge Base are updated on a continual basis, so make use of the Knowledge button added to the top bar to see more topics and view the complete table of contents. For issues or suggestions concerning the knowledge base, please write in to <a href="">kb@leadermes.com</a></p> 
							</div>
							
							<div class="col-sm-5 col-xs-12">	
								<img src="images/i-2.png"class="i-2-img">							
								<img src="images/knowledge.png" class="img-responsive setting-img knowledge">							
							</div>						
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-12 improvements">
					<h3>Improvements </h3>
					
					<div class="traceability">
						<h5>Standardization</h5>
						<h4>All tables now support view customizations, data sorting, filtering and calculations  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-11 col-xs-12">
								<p>Reports, forms and tables of every kind now support the same set of functions. If it appears as a table, regardless of the context, you can filter, sort, reorder columns, select items and perform calculations. The former distinction between reports and forms is now obsolete. </p> 
							</div>
							<div class="col-sm-1 col-xs-12"><img src="images/drop-img.png" class="img-responsive setting-img"></div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>Table Defaults </h5>
						<h4>Authorized users can modify report defaults for others </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-11 col-xs-12">
								<p>Authorized users can modify report defaults for others. Tailor the system's interface to the needs of your teams by creating a unified default that is group specific.</p>  

								<p>When report modifications are copied to others, they become the baseline default view. Individual users will still have the option to further personalize their reports but whenever they choose the option to <b>Restore All Defaults</b>, the modified report last copied to them will be restored. </p> 

								<p>Only users who have received permission to copy a report to others will see the button above relevant reports. <a href="">Learn how</a> to grant this permission to other users.  </p>
							</div>
							<div class="col-sm-1 col-xs-12"><img src="images/mbl.png" class="img-responsive setting-img"></div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>New Workflow  </h5>
						<h4>Check off multiple items to select or update them </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<p>Use the checkboxes in your tables to select items for various purposes: </p> 

						<ul>
							<li>Update forms</li>
							<li>Export specific data</li>
							<li>Run calculations on specific items</li>
						</ul>

						<p>The new interface will now allow you to update multiple lines at once in any form. Effortlessly create <a href="">orders</a>, assign <a href="">Inactivity Calendars</a>, create <a href="">configurations</a>, or pre-approve molds for products. <a href="">Learn more</a></p>
					</div>
					
					
					<div class="traceability">
						<h5>Usability</h5>
						<h4>Navigation presets limit the number of browser tabs </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<div class="row">
							<div class="col-sm-11 col-xs-12">
								<p>Internal links will open in a new browser tab by default. The system will open one browser tab per object type and will refresh the item on view with every new selection. Use your <b>sidebar menu</b> to open tabs in the view window or use the icon  to open the page in a new browser tab. As long as your main page is refreshed and logged in, all other secondary tabs will remain logged in as well.   </p>
							</div>
							<div class="col-sm-1 col-xs-12">
								<img src="images/arrow.png" class="img-responsive setting-img">
							</div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>Configurations</h5>
						<h4>Monitor Rejects Separately for Every Part in a Family Mold </h4><span><img src="images/mbl-screen.png" class="img-responsive"></span>
						<hr>

						<p>Keep better inventory and improve costing by keeping accurate records for rejects and waste for processes that involve family molds. The Operator App now clearly indicates when a <b>Configuration</b> is in production and allows users to report rejects for any of the products (or parts) in production.    </p>
																		
					</div>
					
					<div class="traceability">
						<h5>Personalization</h5>
						<h4>Users can now change their own password</h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<div class="row">
							<div class="col-sm-9 col-xs-12">
								<p>As a user, you can click on your username in the sidebar menu to change your own password.  If you are a System Administrator, you can send a simple recovery password to another user without compromising security, and ask that user to reset their own password for themselves.   </p>
							</div>
							<div class="col-sm-3 col-xs-12">
								<img src="images/leader.png" class="img-responsive setting-img">
							</div>
						</div>
						
																		
					</div>
				</div>
				
				
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>