<div ng-show="calendarDirectiveCtrl.openEditModal" class="editModal newScroll" off-click-activator="calendarDirectiveCtrl.openEditModal"  off-click="calendarDirectiveCtrl.openEditModal = false">
        <div class="title-container">
            <div>
                <span >{{calendarDirectiveCtrl.openEditModalTitle | translate}}</span>
                <img class="pull-right" ng-click="calendarDirectiveCtrl.openEditModal = false;" src="images/close.png" />
            </div>
        </div>
        <div ng-include="'views/common/form.html'"></div>
</div>
    
<div class="panel-body calendarWrapper {{view}}" 
    ng-class="{'multiple' : calendarDirectiveCtrl.displayedCalendars.length > 1}" 
    style="background: #fff;">
    <div class="row">
        <div ng-if="calendarDirectiveCtrl.multipleCalendarActivated" class="col-lg-2 col-md-2 col-sm-12">
            <div ng-include="'js/components/calendar/calendarLeftMenu.html'"></div>
        </div>
        <div class="col-sm-12"
            ng-class="{'col-lg-12 col-md-12': !calendarDirectiveCtrl.multipleCalendarActivated,
            'col-lg-10 col-md-10': calendarDirectiveCtrl.multipleCalendarActivated }">
                <div class="calendar machineCalendar" ng-class="{'refreshing' : loading}"></div>
        </div>    
    </div>
</div>
