<div class="panel-body emptyPage">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="">
                    <div class="spiner-example">
                        <div class="sk-spinner sk-spinner-wave">
                            <img class="stnd dark-version" alt="Emerald Information Systems" src="images/loadingAnimation.gif" style="width: 45px;margin-bottom: 2px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
