<form class="op-app job-list calculatorPopup" ng-submit="save()">
    <div class="ibox newGoalsModal">
        <div class="ibox-title newGoalsTitle">
            <span>{{"NUMERIC_POPUP" | translate}}</span>
            <div class="pull-right x">

                <img ng-click="close()" src="images/close.png" width="15" height="15" />
            </div>
        </div>

        <div class="ibox-content">

        </div>

        <button ng-disabled="disabled" type="submit" style="width: 150px" class="btn btn-primary new-dep-header-buttons saveButton">{{"SAVE"
            | translate}}</button>
    </div>
</form>