<!-- <div ng-show="!subPage.data.data.returnValue">
    <search ng-if="!searchTemplateUrl" ng-show="!subPage.data.data.fullScreen" hide-criteria="hideCriteria" content="subPage.data" report-id="reportID" is-user-report="IsUserReport"></search>
    <div ng-if="searchTemplateUrl" ng-include="searchTemplateUrl"></div>
</div>

<search-results ng-if="!searchResultsTemplateUrl && subPage.data.request.sfCriteria" content="subPage.data"></search-results>
<div ng-if="searchResultsTemplateUrl && subPage.data.request.sfCriteria" ng-include="searchResultsTemplateUrl"></div> -->

<!-- <div style="height: 600px; width: 100%;background-color: red;border: 1px black solid;">sami</div> -->

<!-- <div style="width:200px; height:10vh;background-color: red;color:black">
    {{}}
</div> -->
<div ng-if="!subPage.data.data.returnValue">

    <search-results-generic-react  content="subPage.data"></search-results-generic-react>
    <!-- <search-results content="subPage.data"></search-results> -->
</div>
<div ng-if="subPage.data.data.returnValue">
    <react-search-results-return-value content="subPage.data"></react-search-results-return-value>
    <!-- <search-results content="subPage.data"></search-results> -->
</div>

    

<!-- <div style="height:60vh;width:100%;" ng-show="!subPage.data.data.returnValue" >
    <react-search-results content="subPage.data"></react-search-results>
</div> -->