<div class="panel panel-success" style="height : 100% !important;border-radius: 0px">
    <table class="table table-bordered" style="height : 100% !important;">
        <tbody style="height : 100% !important;">
        <tr style="height : 100% !important;">
            <td>
                <div ng-if="content.newBox === true "  style=" word-break:break-all">
                    <div ng-repeat="field in areas[0].cellData.fields">
                        <a ng-click="addItem(0,$index,dynamicOptions)">
                            <i class="fa fa-plus"></i>
                        </a>
                        <span ng-if="field.FieldName"><strong>{{getParamName(field.FieldName)}}</strong></span>
                    </div>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>