<div class="col-lg-3" tooltip="{{split.ToolTip}}" tooltip-placement="top">
    <h9 ng-class="{'requiredFiled' : split.AllowNull == false}">{{localLanguage ? split.PropertyHName : split.PropertyEName}}</h9>
    <i class="fa fa-calculator mainColor2"
       ng-show="split.FValueCalcFunction.length"
       style="margin-left: 5px"
       tooltip="{{'CALCULATED_ITEM' | translate}}"
       tooltip-placement="right">

    </i></div>
<div class="col-lg-3">
    <input id="{{split.PropertyName}}_{{channelSplit.SplitNumber}}_{{channel.ChannelNumber}}" step="{{split.RoundNum}}" min="{{split.MinValidValue}}" max="{{split.MaxValidValue}}" ng-if="split.SearchLink === false && split.RecipeFValue" type="number" class="form-control" ng-required="!split.AllowNull" ng-model="split.FValue" ng-disabled="showViewOnly === true || split.IsEditable == false || split.IsEnabled == false"
           ng-change="recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)"
           ng-init="split.MandatoryField && recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)">
</div>
<div class="col-lg-3">
    <input id="{{split.PropertyName}}_{{channelSplit.SplitNumber}}_{{channel.ChannelNumber}}_Lower" 
           step="{{split.RoundNum}}" ng-if="split.SearchLink === false && split.RecipeLValue" type="number" class="form-control {{split.LValueError}}" ng-model="split.LValue" ng-required="!split.AllowNull" ng-disabled="showViewOnly === true || split.IsEditable == false || split.IsEnabled == false"
           ng-change="recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)"
           ng-init="split.MandatoryField && recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)">
</div>
<div class="col-lg-3">
    <input id="{{split.PropertyName}}_{{channelSplit.SplitNumber}}_{{channel.ChannelNumber}}_Upper" 
           step="{{split.RoundNum}}" ng-if="split.SearchLink === false && split.RecipeHValue" type="number" class="form-control {{split.HValueError}}" ng-model="split.HValue" ng-required="!split.AllowNull" ng-disabled="showViewOnly === true || split.IsEditable == false || split.IsEnabled == false"
           ng-change="recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)"
           ng-init="split.MandatoryField && recipeChange(split.FValue,split.LValue,split.HValue,split.ProductRecipeID)">
</div>