<div tooltip="{{inputValue.content.ToolTip}}" ng-if="!inputValue.search">
    <label style="width: 100%;margin-bottom: 0px;" ng-if="!inputValue.content.editableTable"
        ng-class="{'requiredFiled' : inputValue.required}">{{inputValue.contentDisplayName}}</label>
    <input name="contentDisplayName" step="{{inputValue.content.decimalValue}}" min="{{inputValue.content.MinValue}}"
        max="{{inputValue.content.MaxValue}}" placeholder="{{inputValue.content.Hint}}"
        ng-if="inputValue.content.SearchLinkReportID == null && inputValue.content.LinkTarget === ''"
        ng-init="inputValue.initField(inputValue.value,'num')" style="width: 100%" type="number" class="form-control"
        ng-model="inputValue.value"
        ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.value,'Eq','num')"
        ng-required="inputValue.required" ng-disabled="inputValue.disabled">


        <!-- <react-input-generic-text 
        placeholder="inputValue.content.Hint"
        content="inputValue.content" 
        textvalue="inputValue.value" 
        onupdate="inputValue.updateValue" 
        oninit="inputValue.initField" 
        required="inputValue.required"
        disabled="inputValue.disabled"
        type="'number'"
        title="inputValue.contentDisplayName"></react-input-generic-text> -->

    <div class="input-group" ng-if="inputValue.content.SearchLinkReportID != null">
        <span name="contentDisplayName" step="{{inputValue.content.decimalValue}}" title="{{inputValue.content.Hint}}"
            ng-init="inputValue.initField(inputValue.value,'num')"
            ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.value,'Eq','num')" class="form-control"
            ng-model="inputValue.value" ng-required="inputValue.required"
            ng-disabled="inputValue.disabled">{{inputValue.value}}</span>

        <span class="input-group-btn"><button type="button" class="btn btn-primary"
                ng-click="inputValue.addNewItem();"><i class="fa fa-search"></i></button></span>
    </div>
    <div class="input-group"
        ng-if="inputValue.content.SearchLinkReportID == null && inputValue.content.LinkTarget !== ''">
        <input name="contentDisplayName" step="{{inputValue.content.decimalValue}}"
            min="{{inputValue.content.MinValue}}" max="{{inputValue.content.MaxValue}}"
            placeholder="{{inputValue.content.Hint}}" type="number"
            ng-init="inputValue.initField(inputValue.value,'num')"
            ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.value,'Eq','num')" class="form-control"
            ng-model="inputValue.value" ng-required="inputValue.required" ng-disabled="inputValue.disabled">
        <span class="input-group-btn"><button style="margin-bottom : 0px;" type="button" class="btn btn-primary"
                ng-click="inputValue.openNewTab()"><i
                    class="zmdi zmdi-arrow-right-top {{inputValue.localLanguage===true?'rotateRightTop':''}}"></i></button></span>
    </div>
</div>
<div tooltip="{{inputValue.content.ToolTip}}" ng-if="inputValue.search == true">
    <div class="col-lg-1 pull-left">
        <label ng-if="!inputValue.content.editableTable"
            ng-class="{'requiredFiled' : inputValue.required}">{{inputValue.contentDisplayName}}</label>
    </div>
    <div class="col-lg-11">
        <div class="col-lg-3">
            <input placeholder="{{inputValue.content.Hint}}" style="width: 100%" type="number" class="form-control"
                ng-model="inputValue.valueEq"
                ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.valueEq,'Eq','num')"
                ng-required="inputValue.required" ng-disabled="inputValue.disabled">
        </div>
        <div class="col-lg-3">

            <input placeholder="{{inputValue.content.Hint}}" style="width: 100%" type="number" class="form-control"
                ng-model="inputValue.valueGTEQ"
                ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.valueGTEQ,'GTEq','num')"
                ng-required="inputValue.required" ng-disabled="inputValue.disabled">

        </div>
        <div class="col-lg-3">
            <input placeholder="{{inputValue.content.Hint}}" style="width: 100%" type="number" class="form-control"
                ng-model="inputValue.valueLTEQ"
                ng-change="inputValue.updateValue(inputValue.content.Name,inputValue.valueLTEQ,'LTEq','num')"
                ng-required="inputValue.required" ng-disabled="inputValue.disabled">

        </div>
        <div class="col-lg-3">
        </div>
    </div>
</div>