<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  
	<header class="header header1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 logo-section">
					<a href=""><img src="images/logo.png" class="img-responsive"></a>
					<ul class="list-inline text-right">
						<li><a href=""><i class="fa fa-search" aria-hidden="true"></i></a></li>
						<li><a href=""><i class="fa fa-user" aria-hidden="true"></i></a></li>
					</ul>
				</div>
				<div class="col-sm-12 knowledge-section">
					<div class="top-content">
						<a href="">Knowledge Base Home</a>
						<h3>מה חדש בגרסה 1.7 </h3>
					</div>
				</div>
				
			</div>
		</div>
	</header>
	
	<div class="body-section body-section1">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3 class="text-right">?מה חדש</h3>

					<div class="traceability">
						<h5>עקיבות </h5>
						<h4>אפליקציה ייעודית לניהול עקיבות ברצפת הייצור  </h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						<p>אפליקציית ניהול איתורים חדשה מאפשרת לאנשי תפעול לבצע ניהול, בקרה ורישום של מלאי שמתקבל באיתור. האפליקצייה בודקת שמלאי חדש שנקלט לאיתור מתאים לדרישות ומתריעה על תקלות. בשילוב עם המערכת המרכזית, אפליקציית ניהול האיתורים מספקת פתרון מוכן ליצרנים שמבקשים לעמוד בדרישות לניהול עקיבות מקוונת ותיעוד של אילן יוחסין מקוון למוצרים ואצוות מלאי.</p>     

						<p>פנו לתמיכה במייל <a href="">support@emerald.co.il</a> למחירון ופרטים נוספים.</p>
					</div>
					
					<div class="traceability">
						<h5>נתוני סט-אפ   </h5>
						<h4>מנהלי מערכת יכולים להחליט האם זמני עבודה במהלך סט-אפ ייזקפו לטובת זמני ייצור או זמני עצירה </h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						
						
						<div class="row">
							<div class="col-sm-11 col-xs-12 pull-right">
								<p>הוספנו אפשרות לפצל את הרישום של זמני סט-אפ לשתי קטגוריות זמן שונות, בהתאם למצב המכונה. האפשרות להפעיל את ההגדרה החדשה נתונה להחלטת מנהל המערכת עבור כל מכונה בנפרד. במידה וההגדרה לא תופעל, המערכת תמשיך להראות באופן רציף האם המכונה עובדת או לא בזמן הסט-אפ ותמשיך לרשום את סך הזמן של הסט-אפ, ללא התייחסות למצב המכונה, כזמן עצירה.</p> 
							</div>
							
							<div class="col-sm-1 col-xs-12">							
								<img src="images/setting.png" class="img-responsive setting-img">							
							</div>						

							<div class="col-sm-11 col-xs-12 pull-right">
								<p>הפעילו את ההגדרה החדשה כדי לזקוף את זמני העבודה בסט-אפ לטובת זמן הייצור ולכלול את זמני העצירה בסט-אפ בכלל זמן העצירה (downtime). ההגדרה החדשה תשפיע על מדדי הייצור ותתבטא בכיול מחדש של מדדי זמינות המכונה, OEE ו-P.E.
								<br><a href="">Learn more</a>.</p>
							</div>
							<div class="col-sm-1 col-xs-12">							
								<img src="images/setting-2.png" class="img-responsive setting-img">							
							</div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>בטלה מתוכננת  </h5>
						<h4>הבחנה ברורה בין עצירה לבטלה של מכונות בזמן אמת </h4><span><img src="images/screen.png" class="img-responsive"></span>
						<hr>
						
						
						<div class="row">
							<div class="col-sm-11 col-xs-12 pull-right">
								<p>יומני עצירה מעדכנים את סיבות העצירה מיד כאשר המערכת מזהה שמכונה נעצרה. תוכלו להעזר ביומנים כדי לתכנן זמני בטלה באופן שכלל המשתמשים המחוברים למערכת בכל הפלטפורמות ידעו כשמכונה מובטלת בכוונה ואינה דורשת פעולה לתיקון. עבור זמנים שנקבעו מראש כזמני בטלה, סטטוס המכונה יציג את סמליל הבטלה .כל העצירות שחופפות לזמנים המוגדרים מראש ביומני העצירה יקבלו דיווחי סיבה באופן אוטומטי מיד עם זיהוי העצירה והדיווחים יהיו זמינים למשתמשים באפליקציית המפעיל ובאפליקצייה הראשית באופן מיידי.</p> 
							</div>
							
							<div class="col-sm-1 col-xs-12">							
								<img src="images/watch.png" class="img-responsive setting-img">							
							</div>						

							
						</div>
					</div>
					
					<div class="traceability">
						<h5>התראות </h5>
						<h4>התראות SMS יעזרו לאחראים לקבל מידע נחוץ בדחיפות</h4>
						<hr>

						<p>תוכלו להגדיר סוגי חריגות שתרצו לקבל עבורן התראות במערכת או התראות SMS כדי לאפשר לאנשי מפתח להגיב במהירות לחריגות קריטיות. למנהלי מערכת היכולת להגדיר חריגות מיוחדות ולהתאים אותן לצרכי המפעל שלהם. להלן דוגמאות נפוצות לחריגות בהגדרה מיוחדת:</p> 

						<ul>
							<li>עצירה מעל X דקות או מכונה בסטאפ מעל X דקות</li>
							<li>התראה על צפי להחלפת תבנית או סיום פק"ע</li>
							<li>חריגות בקצב הייצור או אחוז פסולים חריג</li>
						</ul>

						<p>פנו לתמיכה במייל <a href="">support@emerald.co.il</a> למחירון ופרטים נוספים. השירות אינו כולל את עלות הודעות ה-SMS.</p>
					</div>
					
					<div class="traceability">
						<h5>ייצור רב-תהליכי  </h5>
						<h4>מבט כולל על ייצור רב-תהליכי במסך יחיד  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-9 col-xs-12 pull-right">
								<p>עץ המוצר מציג בצורה גראפית נוחה את תהליך הייצור המלא של המוצר הנבחר. העץ מציג תרשים זרימה של תשומות ותוצרים מפורטים לכל שלב. במידה והמוצר הנבחר הוא מוצר סופי ניתן לסקור את תהליך הייצור במלואו. עץ המוצר מאפשר למשתמשים לעקוב אחר תהליכים רב-שלביים בנוחות ובמהירות. תוכלו לנווט במהירות ובקלות בין שלבי ייצור ולבחון את הרכב החומרים של כל שלב ייצור עד לשלב הנוכחי.</p>

								<p>עץ המוצר מוצג בחוצץ חדש בכרטיס המוצר. התצוגה של העץ גמישה ומאפשרת פתיחה וסגירה של שלבים, 
								מיקוד, הגדלה והזזה על המסך.  <br><a href="">Learn more</a> </p> 
							</div>
							
							<div class="col-sm-3 col-xs-12">							
								<img src="images/graph.png" class="img-responsive setting-img">							
							</div>						
						</div>
					</div>
					
					<div class="traceability">
						<h5>מחשבון  </h5>
						<h4>ביצוע חישובים פשוטים על נתונים ישירות באפליקציה    </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<p>הריצו חישובים על הנתונים מבלי לייצא אותם. תוכלו לחשב סכומים, ממוצעים, נתוני מינימום ומקסימום או לספור את כמות השורות. תוכלו להשתמש בפילטרים או בתגיות הבחירה כדי לשנות את תחום הנתונים והחישובים יתעדכנו באופן דינמי וללא צורך בלחיצות נוספות. </p> 				
					</div>
					
					<div class="traceability">
						<h5>הדרכה   </h5>
						<h4>קישורים ישירים למסמכי הדרכה יעזרו למשתמשים ללמוד את המערכת במהירות  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-7 col-xs-12 pull-right">
								<p>חפשו את סמליל העזרה  בראש הדף כדי לגשת למדריכים מפורטים שרלוונטיים לדף שבו אתם נמצאים. תוכלו השתמשו בקישור לעזרה שמופיע בראש המסך הראשי כדי לראות את תוכן העניינים ולסקור את כלל הנושאים הזמינים. המסמכים בפורטל הלקוחות/מרכז 
  ההדרכה מתעדכנים באופן רציף. בכל דף יש חלון לחיפוש בעברית או באנגלית:</p>  

							<p>כתבו מייל לכתובת <a href="">kb@leadermes.com </a>להסדיר את הגישה למערכת או לבקש הבהרות למסמכים.</p> 
							</div>
							
							<div class="col-sm-5 col-xs-12">	
								<img src="images/i-2.png"class="i-2-img">							
								<img src="images/knowledge.png" class="img-responsive setting-img knowledge">							
							</div>						
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-12 improvements">
					<h3 class="text-right" >השתפרנו </h3>
					
					<div class="traceability">
						<h5>אחידות  </h5>
						<h4>פונקציונאליות ונראות אחידה לכלל הטבלאות במערכת</h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<p>דוחות, טפסים וכל שאר הטבלאות השונות במערכת קיבלו מראה אחיד ומעודכן שתומך בפילטור, מיון בסדר עולה או יורד, סידור עמודות, בחירת שורות וביצוע חישובים. ההבחנה שהיתה קיימת בעבר בין דוחות וטפסים בוטלה. </p> 
							
					</div>
					
					<div class="traceability">
						<h5>התאמה אישית  </h5>
						<h4>המערכת תשחזר את אופן סידור הטבלה האחרון שביצעתם כדי שתוכלו להמשיך מהנקודה בה עצרתם</h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<p>בכל פעם שתפתחו מחדש את האפליקציה או תגשו לטבלה שבה ביצעתם פעולה כלשהי בעבר, המערכת תשחזר באופן אוטומטי את הנקודה שבה עזבתם כדי להקל עליכם להמשיך בעבודתכם. המערכת תזכור ותציג כל טבלה כפי שעזבתם אותה, כולל פילטור, מיון, סידור והסתרת עמודות, אם רלוונטי. אם השארתם חישובים, גם הם יוצגו כברירת מחדל. </p> 
							
					</div>
					
					<div class="traceability">
						<h5>התאמה לקבוצות משתמשים      </h5>
						<h4>משתמשים בעלי הרשאה יוכלו לשנות את הגדרות ברירת המחדל לתצוגת דוחות של משתמשים אחרים  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>
						
						<div class="row">
							<div class="col-sm-11 col-xs-12 pull-right">
								<p>משתמשים בעלי הרשאה יוכלו לקבוע את הגדרות ברירת המחדל של תצוגת הדוחות של משתמשים אחרים. הגדרות התצוגה המותאמת יכולות להיקבע ברמת קבוצת משתמשים או עבור משתמשים יחידים, לפי הצורך. כל משתמש יוכל לבצע שינויים נוספים, כראות עיניו, אך כאשר יבחר לשחזר את ברירות המחדל שלו, הוא יראה את התצוגה המותאמת שהוגדרה עבורו.</p> 

<p>הפעולה נעשית עבור כל דו"ח בנפרד בעזרת הכפתור   להתאמת תצוגת דוחות עבור משתמשים אחרים. להסבר כיצד להעניק את ההרשאה לאחרים, ראו בקישור:<a href=""> הרשאה להתאים תצוגת דוחות למשתמשים אחרים </a></p>
							</div>
							<div class="col-sm-1 col-xs-12"><img src="images/mbl.png" class="img-responsive setting-img"></div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>סימון שורות    </h5>
						<h4>סמנו מספר רשומות בבת אחת כדי להוסיף את כולם לטבלה במהלך אחד   </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<p>בסמנו רשומות בעמודת הסימון לימין הטבלה כדי לבחור בהם, לשייך אותם, וכדי לייצא או לבצע חישובים על נתונים ספיצפיים.  
						הטבלאות בפורמט המחודש שלהם מאפשרות לשייך מספר רשומות לטופס במהלך יחיד. מהלך העבודה החדש יאפשר להגדיר ביתר קלות הזמנות, לשייך מכונות ליומני עצירה, להגדיר קונפיגורציות או לאשר תבניות עבור מוצרים. <a href="">Learn more</a></p>
					</div>
					
					
					<div class="traceability">
						<h5>סימון שורות    </h5>
						<h4>הגדרות מערכתיות חדשות נועדו להגביל את מספר דפי הדפדפן שהמערכת תפתח  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<div class="row">
							<div class="col-sm-11 col-xs-12 pull-right">
								<p>לינקים פנימיים בתוך המערכת יפתחו רשומות בדף דפדפן חדש כברירת מחדל, לפי העקרון שמגביל דף דפדפן יחיד לכל סוג רשומה, שיתעדכן עם כל בחירה חדשה של רשומה מאותו הסוג. בתפריט הצד הראשי ניתן לפתוח רשימות באותו הדף או ללחוץ על הסמליל   כדי לפתוח את הבחירה בדף דפדפן חדש. כל עוד החיבור של הדף הראשי (שבו מופיע תפריט הצד) מעודכן ותקף, הדפים המשניים יישארו מחוברים גם כן. </p>
							</div>
							<div class="col-sm-1 col-xs-12">
								<img src="images/arrow.png" class="img-responsive setting-img">
							</div>
						</div>
					</div>
					
					<div class="traceability">
						<h5>קונפיגורציות    </h5>
						<h4>מעתה ניתן לדווח פסולים בנפרד עבור כל חלק בתצורה שמיוצר בתבנית משפחתית  </h4><span><img src="images/mbl-screen.png" class="img-responsive"></span>
						<hr>

						<p>אפליקציית המפעיל מאפשרת כעת לדווח פסולים בנפרד עבור כל אחד מהחלקים בתצורה ובכך תומכת בניהול רישומי מלאי מדוייקים יותר וחישובי תמחור מיטביים. </p>
																		
					</div>
					
					<div class="traceability">
						<h5>התאמה אישית     </h5>
						<h4>משתמשי המערכת יכולים לשנות בעצמם את הסיסמא שלהם  </h4><span><img src="images/led-screen.png" class="img-responsive"></span>
						<hr>

						<div class="row">
							<div class="col-sm-9 col-xs-12 pull-right">
								<p>משתמשים בעלי רמת הרשאה מתאימה יוכלו לשנות לעצמם את הסיסמה. כמנהלי מערכת, תוכלו לעזור למשתמשים אחרים שאיבדו את הסיסמה להיכנס למערכת עם סיסמה זמנית במטרה שהם יגדירו לעצמם סיסמה חדשה.   </p>
							</div>
							<div class="col-sm-3 col-xs-12">
								<img src="images/leader.png" class="img-responsive setting-img">
							</div>
						</div>
						
																		
					</div>
				</div>
				
				
			</div>
		</div>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>