<div class="dropdown-settings-body" >
    <div class="settings-title">
        {{"ACTIONS_MENU" | translate}}
    </div>
    <div  class="newScroll slim dropdown-settings-body-menu" ng-style="type == 'expanded' && {'height':'300px'}">
        <div on-action-finish-render="ngRepeatFinished" ng-repeat="actionItem in appObjectConfigDirectiveCtrl.sideMenuActions" class="setings-item" style="text-align: center">
            <button ng-disabled="actionItem.enabled === false || actionItem.disabled == true" type="button" class="btn btn-xs btn-w-m btn-primary"
                    ng-click="appObjectConfigDirectiveCtrl.openAction($index)">{{getName(actionItem)}}</button>
        </div>
    </div>
</div>